@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-4">Stok ekstresi projemize hoşgeldiniz!</h1>
    <p class="lead">Bu proje kullanıcıların tercihlerine göre stok ekstreleri görüntülenecektir.</p>
    <hr class="my-4">
    <p>Bu projede kullanılan teknolojiler ; .Net Core 7, Ef, Mssql, Solid prensipleri</p>
    <h2>Bu proje monolitic architecture ile hazırlanmıştır.</h2>
    <a class="btn btn-primary btn-lg" asp-controller="Sti" asp-action="Index">Stok ekstresi sayfasına gitmek için tıklayınız</a>
  </div>
</div>
